/*
Theme Name: Avada Child
Description: Child theme for Avada theme
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

/* =Imports styles from the parent theme
-------------------------------------------------------------- */
@import url('../Avada/style.css');

/* Owl's Head Business Services Edits */

/* Homepage Revamp */
.page-id-14637 .fusion-header {
    background-color: rgba(255,255,255,.8)!important;
}

.fusion-main-menu {
    margin-right: -344px;
}

#homebody {
    height: 550px;
    margin-top: -140px;
    padding-top: 140px;
}

#hometagline {
    font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
    color: white!important;
    font-weight: normal;
    margin-bottom: 75px!important;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    line-height: 1em;
}

#hpbox-wrapper {
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.homepagebox-1,
.homepagebox-2,
.homepagebox-3 {
    background-image: none;
}

.homepagebox-1 img:hover,
.homepagebox-2 img:hover,
.homepagebox-3 img:hover {
    background: #D6492B;
    opacity: .5;
}

#hpbox-middle {
    height: inherit;
    padding-bottom: 40px;
}

.col-lg-4 {
    text-align: center;
}

.fusion-icon-facebook {
    margin-left: 0!important;
}

.page-id-14637 #input_1_4,
.page-id-22011 #input_1_4 {
    height: 40px;
}

#gform_submit_button_1 {
    width: auto!important;
}

/* Sponsor Showcase Page Edits */

.page-id-22019 .post {
    margin-bottom: 25px!important;
}

.page-id-22019 .fusion-meta-info {
    border: none!important;
    margin-top: 0!important;
}

.page-id-22019 .fusion-rollover-categories {
    display: none!important;
}

.page-id-22019 .fusion-post-content-container img {
    display: none!important;
}

.page-id-22019 .fusion-blog-layout-grid .post .fusion-post-wrapper,
.page-id-22019 .fusion-blog-layout-grid .fusion-post-slideshow {
    border-color: white!important;
}


/* Take a tour link */
.wp-colorbox-youtube {
    float: right;
    font-size: 24px;
    font-family: 'PT Sans', Arial, sans-serif;
    margin-top: -25px;
}

/* EB90 header */

.eb90 {
    max-width: 500px;
    float: right;
    margin-top: 100px;
    font-size: 24px;
}

.eb90 img {
    max-width: 70px;
    float: right;
    margin-top: -33px;
}

.eb90text {
    float: right;
    margin-top: 2px;
}

#gf5 {
    left: 60%!important;
}

/* Product images */
.postid-18615 .fusion-flexslider .slides li,
.postid-19894 .fusion-flexslider .slides li {
    display: inherit !important;
}

/* Tshirt Sales Table */
.postid-20909 .variations_form table,
.postid-20964 .variations_form table,
.postid-20954 .variations_form table,
.postid-20959 .variations_form table,
.postid-20949 .variations_form table {
    width: 50%!important;
}

.postid-20909 .variations .label,
.postid-20964 .variations .label,
.postid-20954 .variations .label,
.postid-20959 .variations .label,
.postid-20949 .variations .label,
.postid-20909 p.in-stock,
.postid-20964 p.in-stock,
.postid-20954 p.in-stock,
.postid-20959 p.in-stock,
.postid-20949 p.in-stock {
    display: none!important;
}

/* eBook Customizations */

.postid-22654 .product .summary.entry-summary,
.postid-3073 .product .summary.entry-summary {
    margin-left: 280px;
}

.postid-22654 .product .images,
.postid-3073 .product .images {
    width: 250px;
}

/* Science of Bread Production Course */

.postid-18615 select#mode {
    height; 30px;
}

/* Media min size 768px */

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 768px) {

/* Newsletter signup alignment */

    #gf5 {
        top: 100px;
        left: 60% !important;
    }
}

/* Media max size 800 px */
@media only screen and (max-width: 800px) {
    .fusion-mobile-menu-design-modern.fusion-header-v3 .fusion-header {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    .fusion-header-wrapper .fusion-header {
        background-color: #ffffff!important;
    }
}

/* Media max size 640 px */

@media only screen and (max-width: 640px) {

/* EB90 Header */

.eb90 {
    max-width: 500px;
    margin-top: -30px;
}

.eb90 img {
    max-width: 70px;
    float: right;
    margin-top: 3px;
}

.eb90text {
    float: left;
    margin-top: 10px;
    font-size: 16px;
}

/* Product images */

    .postid-18615 .fusion-flexslider .slides li,
    .postid-19894 .fusion-flexslider .slides li {
        display: inherit !important;
    }

/* Take a Tour link */
    .wp-colorbox-youtube {
        margin-top: 5px;
        font-size: 16px;
    }
}

/* Max width 414 */

@media only screen and (max-width: 414px) {
    #homebody {
        height: 400px!important;
    }
}

.ns-14 ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}

#content{
	width: 100% !important;
}
